.App {
  display: flex;
  overflow: hidden;
  position:relative;
}

.App_second{
  margin-top: 50px;
  top: 0;
  right: 0;
  /* background-color: green; */
}

.App_first{
  overflow: hidden;
}

.fixedComponent{
  background-color: antiquewhite;
  position: fixed
}

.SocialMediaContainer{
  height: 100vh;
  left: 0;
  margin-top: 50px;
  width: 1000px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@media only screen and (min-width: 200px) and (max-width: 964px){
  .SocialMediaContainer{
    margin-top: 0px;
    width: 90%;
    height: 200px;
  }

  .App{
    flex-direction: column;
  }

  .App_second{
    margin-top: 0px;
  }
}



